* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.editor {
  border: 1px solid gray;
  padding: 1em;
  height: 100%;
}

.editable-area {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.mode-switch-button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 1em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: #eeeeee;
  border: none;
  z-index: 3;
}
