#root {
}

body {
    /* padding: 0;
    margin: 0; */
}

.editor {
    border: 1px solid black;
    padding: 1em;
    height: 300px; /* zatim */
    width: 500px;
}

.editable-area {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
    white-space: 'pre-wrap'
}

.line {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    border: 1px solid lightgray;
    padding: 0.5em;
}

.block {
    border: 1px solid green;
    padding: 0 1em;
}

.input-box {
    padding: 0 1em;
    border: 1px solid blue;
}

.input-box:focus {
    outline: 0;
    box-shadow: none;
}

.text-input {
    outline: 0;
}

.mode-switch-button {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 1em;
}
