.textEditor-container {
  position: relative;
  height: 100%;
  
}

.highlighted-layer {
  position: absolute;
  padding: 0.5em;
  height: 100%;
  width: 100%;
  white-space: pre-wrap;
  box-sizing: border-box;
  word-wrap: break-word;
  pointer-events: none;
  z-index: 1;
  overflow: auto;
}

.editor-layer {
  position: absolute;
  padding: 0.5em;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background: transparent;
  z-index: 2;
  color: transparent;
  caret-color: black;
}

.first {
  display: inline-block;
}